<section class="section-film">
    <div class="film-filter">
        <h2 class="heading"><%=category.title%></h2>
        <i class="fas fa-filter" id="filter_button"></i>
    </div>

    <div class="pagination">
        <ul class="pagination-list pagination-up">
            <!-- <li class="button prev">
                <span><i class="fas fa-angle-left"></i> Prev</i></span>
            </li>
            <li class="numb active"><span>1</span></li>
            <li class="numb"><span>2</span></li>
            <li class="dots"><span>...</span></li>
            <li class="numb"><span>4</span></li>
            <li class="numb"><span>5</span></li>
            <li class="dots"><span>...</span></li>
            <li class="numb"><span>7</span></li>
            <li  class="button next"><span>Next <i class="fas fa-angle-right"></i></span></li> -->
        </ul>
    </div>

    <!-- <div class="film-list-grid">
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-1.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-2.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-3.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-4.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-5.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-6.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-7.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-8.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-1.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-2.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-3.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-4.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-5.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-6.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-7.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-8.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-1.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-2.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-3.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-4.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-5.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-6.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-7.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
        <div class="film-item">
            <div class="film-poster">
                <a href="#"
                    ><img
                        src="./assets/images/film-8.jpg"
                        alt=""
                /></a>
            </div>
            <div class="film-detail">
                <div class="film-infor">
                    <span class="film-infor-item">
                        <i class="fas fa-star"></i>
                        N/A
                    </span>
                    <span class="film-infor-item"
                        ><strong>HD</strong></span
                    >
                    <span class="film-infor-item"
                        >2021</span
                    >
                </div>
                <h3 class="film-name">
                    <a href="#" title=""
                        >Between Forever</a
                    >
                </h3>
                <div class="film-btn">
                    <a href="#" class="btn btn-play">
                        <i class="fas fa-play"></i>
                        Watch now</a
                    >
                </div>
            </div>
        </div>
    </div> -->

    <div class="film-list-grid">
        <% phims.forEach(phim => {
           %>
           <%- include('film', {phim: phim}) %>
           <%
       }) %> 
     </div>

</section>

<div class="filter-modal">
			<div class="filter-modal-container">
				<h2 class="filter-modal-title"><%=category.title%></h2>
				<div class="filter-modal-group filter-modal-type-quality">
					<div class="filter-modal-type">
						<div class="filter-modal-heading">Type</div>
						<div class="filter-radio-list">
							<div class="filter-radio-item">
								<input
									type="radio"
									id="type-all"
									name="type"
									value="all"
									checked
									class="custom-control-input"
								/>
								<label
									for="type-all"
									class="custom-control-label"
									>All</label
								>
							</div>
							<div class="filter-radio-item">
								<input
									type="radio"
									id="type-movies"
									name="type"
									value="movies"
									class="custom-control-input"
								/>
								<label
									for="type-movies"
									class="custom-control-label"
									>Movies</label
								>
							</div>
							<div class="filter-radio-item">
								<input
									type="radio"
									id="type-tvshows"
									name="type"
									class="custom-control-input"
									value="tvshows"
								/>
								<label
									for="type-tvshows"
									class="custom-control-label"
									>TV Shows</label
								>
							</div>
						</div>
					</div>
					<div class="filter-modal-quality">
						<div class="filter-modal-heading">quality</div>
						<div class="filter-radio-list">
							<div class="filter-radio-item">
								<input
									type="radio"
									id="all"
									name="quality"
									value="all"
									checked
									class="custom-control-input"
								/>
								<label for="all" class="custom-control-label"
									>All</label
								>
							</div>
							<div class="filter-radio-item">
								<input
									type="radio"
									id="hd"
									name="quality"
									value="hd"
									class="custom-control-input"
								/>
								<label for="hd" class="custom-control-label"
									>HD</label
								>
							</div>
							<div class="filter-radio-item">
								<input
									type="radio"
									id="sd"
									name="quality"
									class="custom-control-input"
									value="sd"
								/>
								<label for="sd" class="custom-control-label"
									>SD</label
								>
							</div>
							<div class="filter-radio-item">
								<input
									type="radio"
									id="cam"
									name="quality"
									class="custom-control-input"
									value="cam"
								/>
								<label for="cam" class="custom-control-label"
									>CAM</label
								>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-modal-group filter-modal-released">
					<div class="filter-modal-heading">Released</div>
					<div class="filter-radio-list">
						<div class="filter-radio-item">
							<input
								type="radio"
								id="all"
								name="released"
								checked
								class="custom-control-input"
							/>
							<label for="all" class="custom-control-label"
								>All</label
							>
						</div>
						<div class="filter-radio-item">
							<input
								type="radio"
								id="2021"
								name="released"
								class="custom-control-input"
							/>
							<label for="2021" class="custom-control-label"
								>2021</label
							>
						</div>
						<div class="filter-radio-item">
							<input
								type="radio"
								id="2020"
								name="released"
								class="custom-control-input"
							/>
							<label for="2020" class="custom-control-label"
								>2020</label
							>
						</div>
						<div class="filter-radio-item">
							<input
								type="radio"
								id="2019"
								name="released"
								class="custom-control-input"
							/>
							<label for="2019" class="custom-control-label"
								>2019</label
							>
						</div>
						<div class="filter-radio-item">
							<input
								type="radio"
								id="2018"
								name="released"
								class="custom-control-input"
							/>
							<label for="2018" class="custom-control-label"
								>2018</label
							>
						</div>
						<div class="filter-radio-item">
							<input
								type="radio"
								id="2017"
								name="released"
								class="custom-control-input"
							/>
							<label for="2017" class="custom-control-label"
								>2017</label
							>
						</div>
						<div class="filter-radio-item">
							<input
								type="radio"
								id="order"
								name="released"
								class="custom-control-input"
							/>
							<label for="order" class="custom-control-label"
								>order</label
							>
						</div>
					</div>
				</div>
				<div class="filter-modal-group filter-modal-genre">
					<div class="filter-modal-heading">Genre</div>
					<div class="filter-checkbox-list">
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="genre"
								id="action"
								class="custom-control-input"
							/>
							<label for="action" class="custom-control-label"
								>Action</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="genre"
								id="adventure"
								class="custom-control-input"
							/>
							<label for="adventure" class="custom-control-label"
								>Advanture</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="animation"
								id="action"
								class="custom-control-input"
							/>
							<label for="animation" class="custom-control-label"
								>animation</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="genre"
								id="comedy"
								class="custom-control-input"
							/>
							<label for="comedy" class="custom-control-label"
								>comedy</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="genre"
								id="documentary"
								class="custom-control-input"
							/>
							<label
								for="documentary"
								class="custom-control-label"
								>documentary</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="drama"
								id="action"
								class="custom-control-input"
							/>
							<label for="drama" class="custom-control-label"
								>drama</label
							>
						</div>
					</div>
				</div>
				<div class="filter-modal-group filter-modal-country">
					<div class="filter-modal-heading">Country</div>
					<div class="filter-checkbox-list">
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="country"
								id="argentina"
								class="custom-control-input"
							/>
							<label for="argentina" class="custom-control-label"
								>argentina</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="country"
								id="australia"
								class="custom-control-input"
							/>
							<label for="australia" class="custom-control-label"
								>australia</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="country"
								id="belgium"
								class="custom-control-input"
							/>
							<label for="belgium" class="custom-control-label"
								>belgium</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="country"
								id="brasil"
								class="custom-control-input"
							/>
							<label for="brasil" class="custom-control-label"
								>brasil</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="country"
								id="canada"
								class="custom-control-input"
							/>
							<label for="canada" class="custom-control-label"
								>canada</label
							>
						</div>
						<div class="filter-checkbox-item">
							<input
								type="checkbox"
								name="country"
								id="china"
								class="custom-control-input"
							/>
							<label for="china" class="custom-control-label"
								>china</label
							>
						</div>
					</div>
				</div>
				<div class="filter-modal-button">
					<div class="filter-button filter-search-button">
						<i class="filter-icon fas fa-search"></i> Filter
					</div>
					<div
						class="filter-button filter-close-button"
						id="close_button"
					>
						<i class="filter-icon fas fa-times"></i> Close
					</div>
				</div>
			</div>
		</div>