<!-- footer start -->
<div id="footer">
  <div class="container">
    <div class="footer-link">
      <ul class="footer-link-ul">
        <li><a href="#" title="">Android App</a></li>
        <li>
          <a href="#" title="">Terms of service</a>
        </li>
        <li><a href="#" title="">Contact</a></li>
        <li><a href="#" title="">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Footer about -->
<div id="footer-about">
  <div class="container">
    <div class="about-text">
      SFlix is a Free Movies streaming site with zero ads.
      We let you watch movies online without having to
      register or paying, with over 10000 movies and
      TV-Series. You can also Download full movies from
      MoviesCloud and watch it later if you want.
    </div>
    <p class="copyright">© SFlix</p>
  </div>
</div>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/assets/js/main.js"></script>