<div class="accordion accordion-ui ui-state-default mb-3" id="accordionPostIcon">
    <div class="card">
        <div class="card-header" id="headingPostIcon">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsePostIcon" aria-expanded="true" aria-controls="collapsePostIcon">
                    Banner
                </button>
            </h2>
        </div>
        <div id="collapsePostIcon" class="collapse show" aria-labelledby="headingPostIcon" data-parent="#accordionPostIcon">
            <div class="card-body mm-wrapper">
                <div class="mm-img-holder">
                    <input type="hidden" name="imgicon" value="">
                    <div class="thumb"></div>
                </div>
                <a class="btn btn-outline-primary btn-sm mt-3" href="javascript:void(0);" onclick="mmInit(false, false,'icon', true, this);">Chọn ảnh</a>
            </div>
        </div>
    </div>
</div>