<!-- Box Thumbnail -->
<div class="accordion accordion-ui ui-state-default mb-3" id="accordionPostThumbnail">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapsePostThumbnail" aria-expanded="true" aria-controls="collapsePostThumbnail">
                    Thumbnail
                </button>
            </h2>
        </div>
        <div id="collapsePostThumbnail" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPostThumbnail">
            <div class="card-body mm-wrapper">
                <div class="mm-img-holder">
                    <%
                        var imgURL = post.thumb_old || "";
                        imgURL = (post.thumb && post.thumb.url) ? post.thumb.url : imgURL;
                        var imgID = (post.thumb && post.thumb.id) ? post.thumb.id : "";
                    %>
                    <input type="hidden" name="thumb" value="<%=imgID%>">
                    <div class="thumb">
                        <img src="<%=imgURL%>">
                    </div>
                </div>
                <a class="btn btn-outline-primary btn-sm mt-3" href="javascript:void(0);" onclick="mmInit(false, false,'thumbnail', true, this);">Chọn ảnh</a>
            </div>
        </div>
    </div>
</div>